/* You can add global styles to this file, and also import other style files */
html,body{
    font-family: 'Amiri', serif;
}
.home-button{
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}



.mainIcons{
    display: block;
    max-width: 100%;
    max-height: 225px;
    margin: auto;
}
div.ui-galleria, ul.ui-galleria-panel-wrapper, li.ui-galleria-panel {
    width: 100% !important;
    height: auto !important;
}
li.ui-galleria-panel{
    position: relative;
    text-align: center;
}
div.ui-galleria-filmstrip-wrapper{
    display:none;
}

.btn-razan{ /* hearing and speaking buttons in h.p*/
    font-size: 3em;
    padding: 10px 30px;
    display: block;
    width: 100%;
}

li.ul-header{ 
    font-size: 5em;

}

li.ui-galleria-panel img{ /*   fixed the height og imgs */ 
    height : 450px;
}
.is-active {
    cursor: default;
    text-decoration: none;
}

.thumbnail {
    box-shadow: 0 0px 0px 4px #eb8c16;
    border: 5px solid #ddd;
    border-radius: 8px;
}
.thumbnail:after{
    content: '';
    display: table;
    clear: both;
}
button.bigBtn{
    width: 150px;
    height: 50px;
    font-size: 2rem;
    position: relative;
    margin-top: 100px;
}
button.bigBtn:before{
    content: '';
    display: block;
    position: absolute;
    width: 150px; 
    height: 100px;
    top: -100px;
    left: 0;
    background-image: url("/assets/_support_files/Interface/1_Pic_Forward.png");
    background-size: contain;
    background-repeat: no-repeat;

}
button.bigBtn.prevBtn{
    float: left;
}
button.bigBtn.prevBtn:before{
    background-image: url("/assets/_support_files/Interface/1_Pic_Backward.png");
    transform-origin: center center;
   
}
button.bigBtn.testBtn:before{
    background-image: url("/assets/_support_files/Interface/1_Pic_strong_character.png");
}

.playAgainBtn{
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 999;
    width: 80px;
    height: 80px;
}

.playAgainBtn img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.ui-treenode-content .ui-treenode-label {
    font-size: 3em;
    font-family: amiri;
    color: #0d900d;
    cursor: pointer;
}

.ui-tree .ui-treenode-children .ui-treenode-label{
    font-size: 2em;
    color: #000;
}
body .ui-tree .ui-treenode .ui-treenode-content .ui-tree-toggler{
    transform: scale(-1,1);
    font-size: 2em;
}