/* You can add global styles to this file, and also import other style files */
html,body{
    font-family: 'Amiri', serif;
}
.home-button{
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}



.mainIcons{
    display: block;
    max-width: 100%;
    max-height: 225px;
    margin: auto;
}
div.ui-galleria, ul.ui-galleria-panel-wrapper, li.ui-galleria-panel {
    width: 100% !important;
    height: auto !important;
}
li.ui-galleria-panel{
    position: relative;
    text-align: center;
}
div.ui-galleria-filmstrip-wrapper{
    display:none;
}

.btn-razan{
    font-size: 3em;
    padding: 10px 30px;
    display: block;
    width: 100%;
}

li.ul-header{ 
    font-size: 5em;

}

li.ui-galleria-panel img{ /*   fixed the height og imgs */ 
    height : 450px;
}
.is-active {
    cursor: default;
    text-decoration: none;
}

.thumbnail {
    box-shadow: 0 0px 0px 4px #eb8c16;
    border: 5px solid #ddd;
    border-radius: 8px;
}