<div class="pageContent">
    <div class="row">
        <div class="organization-action">
            <div class="col-lg-12 inner-title-container">
                <h2 class="inner-title">محبا بك في مركز التعلم والإختبار السمعي</h2>
                <p class="inner-dec">  </p>
                <p class="inner-dec">  </p>
            </div>
            <div class="col-sm-6 col-md-4 animate fadeInUp delay">
                <a routerLink="view" class="box">
                    <img src="/assets/images/info.svg">
                    <h1>  تدرب على الأصوات </h1>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 animate fadeInUp delay">
                <a routerLink="cadres" class="box">
                    <img src="/assets/images/cadres.svg">
                    <h1>إختبر ادائك</h1>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 animate fadeInUp delay">
                <a routerLink="/applicant/organizations/delegates/{{orgId}}" class="box">
                    <img src="/assets/images/delegations.svg">
                    <h1> نتائج الإختبارات </h1>
                </a>
            </div>
        </div>
    </div>
</div>