<app-training-item-view *ngIf="currentSound" [sound]="currentSound">

</app-training-item-view>
<div class="container">
  <!-- <img class="mainIcons" src="../assets/_support_files/Interface/1_Pic_Forward.png" alt=""> -->
  <button *ngIf="showNext" (click)="moveWizard('forward')" class="bigBtn">التالي</button>
  <button *ngIf="showPre" (click)="moveWizard('backward')" class="bigBtn prevBtn">السابق</button>
  <button *ngIf="showTestBtn" (click)="startSixlingTest()" class="bigBtn testBtn" >ابدأ الاختبار</button>

</div>