<div class="page-header">
  <h1>{{levelInfo?.levelName}}</h1>
</div>

<div class="row">
  <div *ngFor="let session of sessions" class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <!-- src="../assets/_support_files/Interface/{{session.imageName}}.png" -->
      <!-- WHEN WE NEED TO PLACE 1 IMG ONLY -->

      <!-- (imagesArr) DEFINED BY MAS  -->
      <a [routerLink]="session.id" routerLinkActive="is-active">
        <img style="height: 100px; width:100px; float:right" 
        src="../assets/_support_files/Interface/{{session.imageName}}.png"
          alt="{{img}}">
      </a>
      <div class="caption">
        <a [routerLink]="session.id" routerLinkActive="is-active">
          <h3>{{session.title}}</h3>
        </a>
      </div>
    </div>
  </div>
</div>