<div class="row">
  <div class="col-sm-4">
      <a href="" [routerLink]="['./training']">
          <img class="mainIcons" src="../assets/_support_files/Interface/1_pic_sixling.png" alt="">
          <span class="btn btn-warning btn-razan">تدريب</span>
      </a>

  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <a href="" [routerLink]="['./test']">
          <img class="mainIcons" src="../assets/_support_files/Interface/1_pic_sixlingtest.png" alt="">
          <span class="btn btn btn-warning btn-lg btn-razan">التحقق من السماعات</span>
      </a>

  </div>
</div>