<!-- <p-growl [(value)]="messageService.msgs" (sticky)=true></p-growl> -->

<div class="login">
	<div class="login-container">
		<div class="row">
			<div class="right-side">
				<div class="content fadeInDown animate" style="width: 900px">
					<div class="logo">
						<img src="/assets/images/logo.png" class="cd-logo" alt="">
					</div>
					<div class="fadeInRight animate delay">
						<h4 class="form-title"> موقع اختبار وتحسين السمع </h4>
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
		<p class="login-footer">جميع الحقوق المحفوظة 2018</p>
	</div>
</div> 