<div class="page-header">
  <h1>{{levelInfo?.levelName}}</h1>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
  <div *ngFor="let session of sessions" class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <!-- src="../assets/_support_files/Interface/{{session.imageName}}.png" -->
      <!-- WHEN WE NEED TO PLACE 1 IMG ONLY -->

      <!-- (imagesArr) DEFINED BY MAS  -->
      <a [routerLink]="session.id" routerLinkActive="is-active">
        <div  style="height: 100px; width:100px; float:right; text-align:center; display: flex; align-items: center; justify-content: center;">
          <img style="max-height: 100%; max-width:100%;" 
          src="../assets/_support_files/Interface/{{session.imageName}}.png"
            alt="{{img}}">
        </div>
      </a>
      <div class="caption">
        <a [routerLink]="session.id" routerLinkActive="is-active">
          <h3>{{session.title}}</h3>
          <p>{{session.descreption}}</p>
        </a>
      </div>
    </div>
  </div>
</div>
</div>