<ul class="nav navbar-top-links pull-right" style="display: none">
    <li class="dropdown">
      <a class="dropdown-toggle user-dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
        <span class="user-icon pull-left">
  
        </span>
        <span class="branchName">
          <span class="name"> أديب احمد</span>
  
        </span>
        <i class="fa fa-caret-down  hidden-xs"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <a routerLink="./profile" routerLinkActive="active">
            <i class="fa fa-user fa-fw"></i> الملف الشخصي </a>
        </li>
        <li class="last-item custom-link">
          <div>
            <a style="cursor: pointer" >
              <i class="fa fa-sign-out fa-fw"></i> تسجيل الخروج</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  
  
  
  
  <div class="header-left pull-right">
    <div class="userProfile pull-right">
      <a href="#userprofile" class="profilePic">
        <img src="/assets/images/avatar.svg" />
      </a>
      <div class="loggedDetails">
        <a routerLink="./profile"  class="userName" href="#">
          <span class="branchName">  أديب احمد </span>
  
        </a>
      </div>
      <ul class="list-inline loggedActions">
        <li data-toggle="tooltip"   title="تسجيل الخروج">
          <a href="#">
            <img src="/assets/images/logout.svg" />
          </a>
        </li>
      </ul>
    </div>
  
  </div>