<p>
Introduction:
The importance of aural rehabilitation cannot be ignored as a necessity when it comes to hearing aid and cochlear implant (CI) users. Aural rehabilitation uses training methods to improve the individuals hearing after the fitting of hearing aids and CIs; it is a long process, could last for a few years. So as an aid to this process, digitalized aural rehabilitation programs were created. These programs provide an interactive and easy way for the user to advance in their hearing situation 

Aim:
In this project, a courseware for training individuals with hearing difficulties, especially those who use a hearing aid or cochlear implant is developed. This program is meant to increase the comprehension of the individual with a hearing disability and to ease sound and noise discrimination into their system after they have acquired the hearing aid or CI.

Structure:
The courseware contains different modules such as Sound Detection, Sound discrimination, and Language development. These modules implement different sounds, words, and sentences. The sentences could be used as individual sentences or as a conversation. Tests are used to assess the progress of the user.

</p>
