<div class="page-header">
  <h1>{{moduleInfo?.title}}</h1>
</div>
<div class="row">
  <div *ngFor="let level of levels" class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <a [routerLink]="level.levelId" routerLinkActive="is-active">
        <img style="height: 100px; width:100px; float:right" 
        src="../assets/_support_files/Interface/{{level.levelImageName}}.png"
          alt="{{img}}">
      </a>
      <div class="caption">
        <a [routerLink]="level.levelId" routerLinkActive="is-active">
          <h3>{{level.levelName}}</h3>
          <p>{{level.levelDescreption}}</p>
        </a>
      </div>
    </div>
  </div>
</div>