<div class="page-header">
  <h1> {{session?.title}} </h1>
</div>



<div class="row">

<div  class="col-sm-12 col-md-6">
    <div class="thumbnail">
      <div class="caption">
        <a [routerLink]="['test']">
          <div><img src="../assets/_support_files/Interface/1_Pic_Test1.jpg" alt="Test">
          <h3>الإختبار</h3>
        </div>
        </a>
      </div>
    </div>
  </div>


  <div  class="col-sm-12 col-md-6">
    <div class="thumbnail">
      <div class="caption">
        <a [routerLink]="['training']">
          <div><img src="../assets/_support_files/Interface/1_Pic_Training.png" alt="Training">
            <h3>
              التدريب 
            </h3>
          </div>
          
        </a>
      </div>
    </div>
  </div>

 

</div>