	/*
  	lineicon icon font: lineicon
  	Creation date: 22/06/2016 15:41
  	*/

@font-face {
  font-family: "lineicon";
  src: url("../fonts/lineicon.eot");
  src: url("../fonts/lineicon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/lineicon.woff") format("woff"),
       url("../fonts/lineicon.ttf") format("truetype"),
       url("../fonts/lineicon.svg#lineicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "lineicon";
    src: url("./lineicon.svg#lineicon") format("svg");
  }
}
.lineicon{ font-size:inherit;}
[class^="lineicon-"]:before, [class*=" lineicon-"]:before,
[class^="lineicon-"]:after, [class*=" lineicon-"]:after { font-family: lineicon; font-style: normal;}

.lineicon-add:before { content: "\f100"; }
.lineicon-add-1:before { content: "\f101"; }
.lineicon-add-2:before { content: "\f102"; }
.lineicon-add-3:before { content: "\f103"; }
.lineicon-agenda:before { content: "\f104"; }
.lineicon-alarm:before { content: "\f105"; }
.lineicon-alarm-1:before { content: "\f106"; }
.lineicon-alarm-clock:before { content: "\f107"; }
.lineicon-alarm-clock-1:before { content: "\f108"; }
.lineicon-albums:before { content: "\f109"; }
.lineicon-app:before { content: "\f10a"; }
.lineicon-archive:before { content: "\f10b"; }
.lineicon-archive-1:before { content: "\f10c"; }
.lineicon-archive-2:before { content: "\f10d"; }
.lineicon-archive-3:before { content: "\f10e"; }
.lineicon-attachment:before { content: "\f10f"; }
.lineicon-back:before { content: "\f110"; }
.lineicon-battery:before { content: "\f111"; }
.lineicon-battery-1:before { content: "\f112"; }
.lineicon-battery-2:before { content: "\f113"; }
.lineicon-battery-3:before { content: "\f114"; }
.lineicon-battery-4:before { content: "\f115"; }
.lineicon-battery-5:before { content: "\f116"; }
.lineicon-battery-6:before { content: "\f117"; }
.lineicon-battery-7:before { content: "\f118"; }
.lineicon-battery-8:before { content: "\f119"; }
.lineicon-battery-9:before { content: "\f11a"; }
.lineicon-binoculars:before { content: "\f11b"; }
.lineicon-blueprint:before { content: "\f11c"; }
.lineicon-bluetooth:before { content: "\f11d"; }
.lineicon-bluetooth-1:before { content: "\f11e"; }
.lineicon-bookmark:before { content: "\f11f"; }
.lineicon-bookmark-1:before { content: "\f120"; }
.lineicon-briefcase:before { content: "\f121"; }
.lineicon-broken-link:before { content: "\f122"; }
.lineicon-calculator:before { content: "\f123"; }
.lineicon-calculator-1:before { content: "\f124"; }
.lineicon-calendar:before { content: "\f125"; }
.lineicon-calendar-1:before { content: "\f126"; }
.lineicon-calendar-2:before { content: "\f127"; }
.lineicon-calendar-3:before { content: "\f128"; }
.lineicon-calendar-4:before { content: "\f129"; }
.lineicon-calendar-5:before { content: "\f12a"; }
.lineicon-calendar-6:before { content: "\f12b"; }
.lineicon-calendar-7:before { content: "\f12c"; }
.lineicon-checked:before { content: "\f12d"; }
.lineicon-checked-1:before { content: "\f12e"; }
.lineicon-clock:before { content: "\f12f"; }
.lineicon-clock-1:before { content: "\f130"; }
.lineicon-close:before { content: "\f131"; }
.lineicon-cloud:before { content: "\f132"; }
.lineicon-cloud-computing:before { content: "\f133"; }
.lineicon-cloud-computing-1:before { content: "\f134"; }
.lineicon-cloud-computing-2:before { content: "\f135"; }
.lineicon-cloud-computing-3:before { content: "\f136"; }
.lineicon-cloud-computing-4:before { content: "\f137"; }
.lineicon-cloud-computing-5:before { content: "\f138"; }
.lineicon-command:before { content: "\f139"; }
.lineicon-compact-disc:before { content: "\f13a"; }
.lineicon-compact-disc-1:before { content: "\f13b"; }
.lineicon-compact-disc-2:before { content: "\f13c"; }
.lineicon-compass:before { content: "\f13d"; }
.lineicon-compose:before { content: "\f13e"; }
.lineicon-controls:before { content: "\f13f"; }
.lineicon-controls-1:before { content: "\f140"; }
.lineicon-controls-2:before { content: "\f141"; }
.lineicon-controls-3:before { content: "\f142"; }
.lineicon-controls-4:before { content: "\f143"; }
.lineicon-controls-5:before { content: "\f144"; }
.lineicon-controls-6:before { content: "\f145"; }
.lineicon-controls-7:before { content: "\f146"; }
.lineicon-controls-8:before { content: "\f147"; }
.lineicon-controls-9:before { content: "\f148"; }
.lineicon-database:before { content: "\f149"; }
.lineicon-database-1:before { content: "\f14a"; }
.lineicon-database-2:before { content: "\f14b"; }
.lineicon-database-3:before { content: "\f14c"; }
.lineicon-diamond:before { content: "\f14d"; }
.lineicon-diploma:before { content: "\f14e"; }
.lineicon-dislike:before { content: "\f14f"; }
.lineicon-dislike-1:before { content: "\f150"; }
.lineicon-divide:before { content: "\f151"; }
.lineicon-divide-1:before { content: "\f152"; }
.lineicon-division:before { content: "\f153"; }
.lineicon-document:before { content: "\f154"; }
.lineicon-download:before { content: "\f155"; }
.lineicon-edit:before { content: "\f156"; }
.lineicon-edit-1:before { content: "\f157"; }
.lineicon-eject:before { content: "\f158"; }
.lineicon-eject-1:before { content: "\f159"; }
.lineicon-equal:before { content: "\f15a"; }
.lineicon-equal-1:before { content: "\f15b"; }
.lineicon-equal-2:before { content: "\f15c"; }
.lineicon-error:before { content: "\f15d"; }
.lineicon-exit:before { content: "\f15e"; }
.lineicon-exit-1:before { content: "\f15f"; }
.lineicon-exit-2:before { content: "\f160"; }
.lineicon-eyeglasses:before { content: "\f161"; }
.lineicon-fast-forward:before { content: "\f162"; }
.lineicon-fast-forward-1:before { content: "\f163"; }
.lineicon-fax:before { content: "\f164"; }
.lineicon-file:before { content: "\f165"; }
.lineicon-file-1:before { content: "\f166"; }
.lineicon-file-2:before { content: "\f167"; }
.lineicon-film:before { content: "\f168"; }
.lineicon-fingerprint:before { content: "\f169"; }
.lineicon-flag:before { content: "\f16a"; }
.lineicon-flag-1:before { content: "\f16b"; }
.lineicon-flag-2:before { content: "\f16c"; }
.lineicon-flag-3:before { content: "\f16d"; }
.lineicon-flag-4:before { content: "\f16e"; }
.lineicon-focus:before { content: "\f16f"; }
.lineicon-folder:before { content: "\f170"; }
.lineicon-folder-1:before { content: "\f171"; }
.lineicon-folder-10:before { content: "\f172"; }
.lineicon-folder-11:before { content: "\f173"; }
.lineicon-folder-12:before { content: "\f174"; }
.lineicon-folder-13:before { content: "\f175"; }
.lineicon-folder-14:before { content: "\f176"; }
.lineicon-folder-15:before { content: "\f177"; }
.lineicon-folder-16:before { content: "\f178"; }
.lineicon-folder-17:before { content: "\f179"; }
.lineicon-folder-18:before { content: "\f17a"; }
.lineicon-folder-19:before { content: "\f17b"; }
.lineicon-folder-2:before { content: "\f17c"; }
.lineicon-folder-3:before { content: "\f17d"; }
.lineicon-folder-4:before { content: "\f17e"; }
.lineicon-folder-5:before { content: "\f17f"; }
.lineicon-folder-6:before { content: "\f180"; }
.lineicon-folder-7:before { content: "\f181"; }
.lineicon-folder-8:before { content: "\f182"; }
.lineicon-folder-9:before { content: "\f183"; }
.lineicon-forbidden:before { content: "\f184"; }
.lineicon-funnel:before { content: "\f185"; }
.lineicon-garbage:before { content: "\f186"; }
.lineicon-garbage-1:before { content: "\f187"; }
.lineicon-garbage-2:before { content: "\f188"; }
.lineicon-gift:before { content: "\f189"; }
.lineicon-help:before { content: "\f18a"; }
.lineicon-hide:before { content: "\f18b"; }
.lineicon-hold:before { content: "\f18c"; }
.lineicon-home:before { content: "\f18d"; }
.lineicon-home-1:before { content: "\f18e"; }
.lineicon-home-2:before { content: "\f18f"; }
.lineicon-hourglass:before { content: "\f190"; }
.lineicon-hourglass-1:before { content: "\f191"; }
.lineicon-hourglass-2:before { content: "\f192"; }
.lineicon-hourglass-3:before { content: "\f193"; }
.lineicon-house:before { content: "\f194"; }
.lineicon-id-card:before { content: "\f195"; }
.lineicon-id-card-1:before { content: "\f196"; }
.lineicon-id-card-2:before { content: "\f197"; }
.lineicon-id-card-3:before { content: "\f198"; }
.lineicon-id-card-4:before { content: "\f199"; }
.lineicon-id-card-5:before { content: "\f19a"; }
.lineicon-idea:before { content: "\f19b"; }
.lineicon-incoming:before { content: "\f19c"; }
.lineicon-infinity:before { content: "\f19d"; }
.lineicon-info:before { content: "\f19e"; }
.lineicon-internet:before { content: "\f19f"; }
.lineicon-key:before { content: "\f1a0"; }
.lineicon-lamp:before { content: "\f1a1"; }
.lineicon-layers:before { content: "\f1a2"; }
.lineicon-layers-1:before { content: "\f1a3"; }
.lineicon-like:before { content: "\f1a4"; }
.lineicon-like-1:before { content: "\f1a5"; }
.lineicon-like-2:before { content: "\f1a6"; }
.lineicon-link:before { content: "\f1a7"; }
.lineicon-list:before { content: "\f1a8"; }
.lineicon-list-1:before { content: "\f1a9"; }
.lineicon-lock:before { content: "\f1aa"; }
.lineicon-lock-1:before { content: "\f1ab"; }
.lineicon-locked:before { content: "\f1ac"; }
.lineicon-locked-1:before { content: "\f1ad"; }
.lineicon-locked-2:before { content: "\f1ae"; }
.lineicon-locked-3:before { content: "\f1af"; }
.lineicon-locked-4:before { content: "\f1b0"; }
.lineicon-locked-5:before { content: "\f1b1"; }
.lineicon-locked-6:before { content: "\f1b2"; }
.lineicon-login:before { content: "\f1b3"; }
.lineicon-magic-wand:before { content: "\f1b4"; }
.lineicon-magnet:before { content: "\f1b5"; }
.lineicon-magnet-1:before { content: "\f1b6"; }
.lineicon-magnet-2:before { content: "\f1b7"; }
.lineicon-map:before { content: "\f1b8"; }
.lineicon-map-1:before { content: "\f1b9"; }
.lineicon-map-2:before { content: "\f1ba"; }
.lineicon-map-location:before { content: "\f1bb"; }
.lineicon-megaphone:before { content: "\f1bc"; }
.lineicon-megaphone-1:before { content: "\f1bd"; }
.lineicon-menu:before { content: "\f1be"; }
.lineicon-menu-1:before { content: "\f1bf"; }
.lineicon-menu-2:before { content: "\f1c0"; }
.lineicon-menu-3:before { content: "\f1c1"; }
.lineicon-menu-4:before { content: "\f1c2"; }
.lineicon-microphone:before { content: "\f1c3"; }
.lineicon-microphone-1:before { content: "\f1c4"; }
.lineicon-minus:before { content: "\f1c5"; }
.lineicon-minus-1:before { content: "\f1c6"; }
.lineicon-more:before { content: "\f1c7"; }
.lineicon-more-1:before { content: "\f1c8"; }
.lineicon-more-2:before { content: "\f1c9"; }
.lineicon-multiply:before { content: "\f1ca"; }
.lineicon-multiply-1:before { content: "\f1cb"; }
.lineicon-music-player:before { content: "\f1cc"; }
.lineicon-music-player-1:before { content: "\f1cd"; }
.lineicon-music-player-2:before { content: "\f1ce"; }
.lineicon-music-player-3:before { content: "\f1cf"; }
.lineicon-mute:before { content: "\f1d0"; }
.lineicon-muted:before { content: "\f1d1"; }
.lineicon-navigation:before { content: "\f1d2"; }
.lineicon-navigation-1:before { content: "\f1d3"; }
.lineicon-network:before { content: "\f1d4"; }
.lineicon-newspaper:before { content: "\f1d5"; }
.lineicon-next:before { content: "\f1d6"; }
.lineicon-note:before { content: "\f1d7"; }
.lineicon-notebook:before { content: "\f1d8"; }
.lineicon-notebook-1:before { content: "\f1d9"; }
.lineicon-notebook-2:before { content: "\f1da"; }
.lineicon-notebook-3:before { content: "\f1db"; }
.lineicon-notebook-4:before { content: "\f1dc"; }
.lineicon-notebook-5:before { content: "\f1dd"; }
.lineicon-notepad:before { content: "\f1de"; }
.lineicon-notepad-1:before { content: "\f1df"; }
.lineicon-notepad-2:before { content: "\f1e0"; }
.lineicon-notification:before { content: "\f1e1"; }
.lineicon-paper-plane:before { content: "\f1e2"; }
.lineicon-paper-plane-1:before { content: "\f1e3"; }
.lineicon-pause:before { content: "\f1e4"; }
.lineicon-pause-1:before { content: "\f1e5"; }
.lineicon-percent:before { content: "\f1e6"; }
.lineicon-percent-1:before { content: "\f1e7"; }
.lineicon-perspective:before { content: "\f1e8"; }
.lineicon-photo-camera:before { content: "\f1e9"; }
.lineicon-photo-camera-1:before { content: "\f1ea"; }
.lineicon-photos:before { content: "\f1eb"; }
.lineicon-picture:before { content: "\f1ec"; }
.lineicon-picture-1:before { content: "\f1ed"; }
.lineicon-picture-2:before { content: "\f1ee"; }
.lineicon-pin:before { content: "\f1ef"; }
.lineicon-placeholder:before { content: "\f1f0"; }
.lineicon-placeholder-1:before { content: "\f1f1"; }
.lineicon-placeholder-2:before { content: "\f1f2"; }
.lineicon-placeholder-3:before { content: "\f1f3"; }
.lineicon-placeholders:before { content: "\f1f4"; }
.lineicon-play-button:before { content: "\f1f5"; }
.lineicon-play-button-1:before { content: "\f1f6"; }
.lineicon-plus:before { content: "\f1f7"; }
.lineicon-power:before { content: "\f1f8"; }
.lineicon-previous:before { content: "\f1f9"; }
.lineicon-price-tag:before { content: "\f1fa"; }
.lineicon-print:before { content: "\f1fb"; }
.lineicon-push-pin:before { content: "\f1fc"; }
.lineicon-radar:before { content: "\f1fd"; }
.lineicon-reading:before { content: "\f1fe"; }
.lineicon-record:before { content: "\f1ff"; }
.lineicon-repeat:before { content: "\f200"; }
.lineicon-repeat-1:before { content: "\f201"; }
.lineicon-restart:before { content: "\f202"; }
.lineicon-resume:before { content: "\f203"; }
.lineicon-rewind:before { content: "\f204"; }
.lineicon-rewind-1:before { content: "\f205"; }
.lineicon-route:before { content: "\f206"; }
.lineicon-save:before { content: "\f207"; }
.lineicon-search:before { content: "\f208"; }
.lineicon-search-1:before { content: "\f209"; }
.lineicon-send:before { content: "\f20a"; }
.lineicon-server:before { content: "\f20b"; }
.lineicon-server-1:before { content: "\f20c"; }
.lineicon-server-2:before { content: "\f20d"; }
.lineicon-server-3:before { content: "\f20e"; }
.lineicon-settings:before { content: "\f20f"; }
.lineicon-settings-1:before { content: "\f210"; }
.lineicon-settings-2:before { content: "\f211"; }
.lineicon-settings-3:before { content: "\f212"; }
.lineicon-settings-4:before { content: "\f213"; }
.lineicon-settings-5:before { content: "\f214"; }
.lineicon-settings-6:before { content: "\f215"; }
.lineicon-settings-7:before { content: "\f216"; }
.lineicon-settings-8:before { content: "\f217"; }
.lineicon-settings-9:before { content: "\f218"; }
.lineicon-share:before { content: "\f219"; }
.lineicon-share-1:before { content: "\f21a"; }
.lineicon-share-2:before { content: "\f21b"; }
.lineicon-shuffle:before { content: "\f21c"; }
.lineicon-shuffle-1:before { content: "\f21d"; }
.lineicon-shutdown:before { content: "\f21e"; }
.lineicon-sign:before { content: "\f21f"; }
.lineicon-sign-1:before { content: "\f220"; }
.lineicon-skip:before { content: "\f221"; }
.lineicon-smartphone:before { content: "\f222"; }
.lineicon-smartphone-1:before { content: "\f223"; }
.lineicon-smartphone-10:before { content: "\f224"; }
.lineicon-smartphone-11:before { content: "\f225"; }
.lineicon-smartphone-2:before { content: "\f226"; }
.lineicon-smartphone-3:before { content: "\f227"; }
.lineicon-smartphone-4:before { content: "\f228"; }
.lineicon-smartphone-5:before { content: "\f229"; }
.lineicon-smartphone-6:before { content: "\f22a"; }
.lineicon-smartphone-7:before { content: "\f22b"; }
.lineicon-smartphone-8:before { content: "\f22c"; }
.lineicon-smartphone-9:before { content: "\f22d"; }
.lineicon-speaker:before { content: "\f22e"; }
.lineicon-speaker-1:before { content: "\f22f"; }
.lineicon-speaker-2:before { content: "\f230"; }
.lineicon-speaker-3:before { content: "\f231"; }
.lineicon-speaker-4:before { content: "\f232"; }
.lineicon-speaker-5:before { content: "\f233"; }
.lineicon-speaker-6:before { content: "\f234"; }
.lineicon-speaker-7:before { content: "\f235"; }
.lineicon-speaker-8:before { content: "\f236"; }
.lineicon-spotlight:before { content: "\f237"; }
.lineicon-star:before { content: "\f238"; }
.lineicon-star-1:before { content: "\f239"; }
.lineicon-stop:before { content: "\f23a"; }
.lineicon-stop-1:before { content: "\f23b"; }
.lineicon-stopwatch:before { content: "\f23c"; }
.lineicon-stopwatch-1:before { content: "\f23d"; }
.lineicon-stopwatch-2:before { content: "\f23e"; }
.lineicon-stopwatch-3:before { content: "\f23f"; }
.lineicon-stopwatch-4:before { content: "\f240"; }
.lineicon-street:before { content: "\f241"; }
.lineicon-street-1:before { content: "\f242"; }
.lineicon-substract:before { content: "\f243"; }
.lineicon-substract-1:before { content: "\f244"; }
.lineicon-success:before { content: "\f245"; }
.lineicon-switch:before { content: "\f246"; }
.lineicon-switch-1:before { content: "\f247"; }
.lineicon-switch-2:before { content: "\f248"; }
.lineicon-switch-3:before { content: "\f249"; }
.lineicon-switch-4:before { content: "\f24a"; }
.lineicon-switch-5:before { content: "\f24b"; }
.lineicon-switch-6:before { content: "\f24c"; }
.lineicon-switch-7:before { content: "\f24d"; }
.lineicon-tabs:before { content: "\f24e"; }
.lineicon-tabs-1:before { content: "\f24f"; }
.lineicon-target:before { content: "\f250"; }
.lineicon-television:before { content: "\f251"; }
.lineicon-television-1:before { content: "\f252"; }
.lineicon-time:before { content: "\f253"; }
.lineicon-trash:before { content: "\f254"; }
.lineicon-umbrella:before { content: "\f255"; }
.lineicon-unlink:before { content: "\f256"; }
.lineicon-unlocked:before { content: "\f257"; }
.lineicon-unlocked-1:before { content: "\f258"; }
.lineicon-unlocked-2:before { content: "\f259"; }
.lineicon-upload:before { content: "\f25a"; }
.lineicon-user:before { content: "\f25b"; }
.lineicon-user-1:before { content: "\f25c"; }
.lineicon-user-2:before { content: "\f25d"; }
.lineicon-user-3:before { content: "\f25e"; }
.lineicon-user-4:before { content: "\f25f"; }
.lineicon-user-5:before { content: "\f260"; }
.lineicon-user-6:before { content: "\f261"; }
.lineicon-user-7:before { content: "\f262"; }
.lineicon-users:before { content: "\f263"; }
.lineicon-users-1:before { content: "\f264"; }
.lineicon-video-camera:before { content: "\f265"; }
.lineicon-video-camera-1:before { content: "\f266"; }
.lineicon-video-player:before { content: "\f267"; }
.lineicon-video-player-1:before { content: "\f268"; }
.lineicon-video-player-2:before { content: "\f269"; }
.lineicon-view:before { content: "\f26a"; }
.lineicon-view-1:before { content: "\f26b"; }
.lineicon-view-2:before { content: "\f26c"; }
.lineicon-volume-control:before { content: "\f26d"; }
.lineicon-volume-control-1:before { content: "\f26e"; }
.lineicon-warning:before { content: "\f26f"; }
.lineicon-wifi:before { content: "\f270"; }
.lineicon-wifi-1:before { content: "\f271"; }
.lineicon-windows:before { content: "\f272"; }
.lineicon-windows-1:before { content: "\f273"; }
.lineicon-windows-2:before { content: "\f274"; }
.lineicon-windows-3:before { content: "\f275"; }
.lineicon-windows-4:before { content: "\f276"; }
.lineicon-wireless-internet:before { content: "\f277"; }
.lineicon-worldwide:before { content: "\f278"; }
.lineicon-worldwide-1:before { content: "\f279"; }
.lineicon-zoom-in:before { content: "\f27a"; }
.lineicon-zoom-out:before { content: "\f27b"; }