/*-----------------------------------------------
** Version: 1.0 English
** Author: ELM Design Team - Mostafa Kasem
** Last update : 10 May 2017
 -----------------------------------------------*/


/* general */

@font-face {
	font-family: "elm";
	src: url('../../fonts/230163575-DINNextLTArabic-Regular.eot');
	src: url('../../fonts/230163575-DINNextLTArabic-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/230163575-DINNextLTArabic-Regular.svg#DIN Next LT Arabic') format('svg'), url('../../fonts/230163575-DINNextLTArabic-Regular.woff') format('woff'), url('../../fonts/230163575-DINNextLTArabic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "elmBold";
	src: url('../../fonts/147277833-DINNextLTArabic-Medium.eot');
	src: url('../../fonts/147277833-DINNextLTArabic-Medium.eot?#iefix') format('embedded-opentype'), url('../../fonts/147277833-DINNextLTArabic-Medium.svg#DIN Next LT Arabic') format('svg'), url('../../fonts/147277833-DINNextLTArabic-Medium.woff') format('woff'), url('../../fonts/147277833-DINNextLTArabic-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	direction: ltr;
	text-align: left;
	font: 15px 'elm', serif;
}

a,
input,
.btn,
:after,
 :before {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

*::selection,
*::-moz-selection,
*::-webkit-selection {
	background: #8E3089;
	color: #fff
}

a:focus,
button:focus {
	outline: 0
}

.clearfix {
	clear: both
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
	margin-top: 0px;
	margin-bottom: 20px;
}

h2 {
	color: #184866;
	text-transform: capitalize;
	margin-top: 20px;
	font-size: 27px;
}

.h1,
h1 {
	font-size: 34px;
	color: #282659;
	text-transform: capitalize;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	color: inherit;
}

input[type=file] {
	display: block;
	width: 100%;
}

img {
	max-width: 100%;
	max-height: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.m-3 {
	margin: 1rem 1rem!important
}

.mt-3 {
	margin-top: 1rem!important
}

.mr-3 {
	margin-right: 1rem!important
}

.mb-3 {
	margin-bottom: 1rem!important
}

.ml-3 {
	margin-left: 1rem!important
}

.mx-3 {
	margin-right: 1rem!important;
	margin-left: 1rem!important
}

.my-3 {
	margin-top: 1rem!important;
	margin-bottom: 1rem!important
}

.p-3 {
	padding: 1rem 1rem!important
}

.pt-3 {
	padding-top: 1rem!important
}

.pr-3 {
	padding-right: 1rem!important
}

.pb-3 {
	padding-bottom: 1rem!important
}

.pl-3 {
	padding-left: 1rem!important
}

.px-3 {
	padding-right: 1rem!important;
	padding-left: 1rem!important
}

.py-3 {
	padding-top: 1rem!important;
	padding-bottom: 1rem!important
}

.m-0,
.no-margin {
	margin: 0 !important
}

.block {
	display: block;
}

.in-block {
	display: inline-block!important;
}

.rounded {
	border-radius: 50%
}

.bold {
	font-weight: 700
}

.online {
	color: #4CAF50;
	padding: 0 0 0 10px;
}

.offline {
	color: #F44336;
	padding: 0 0 0 10px;
}

.input-small {
	width: 50px;
	text-align: center
}

.input-flex {
	width: auto
}

.font-red {
	color: #d84a38;
}

.font-red {
	color: #4CAF50;
}

.font-blue {
	color: #578ebe;
}

.font-female {
	color: #50C3EF;
}

.font-color1,
.font-color1:hover {
	color: #7835AA;
}

.font-color2,
.font-color2:hover {
	color: #AD24A4;
}

.font-color3,
.font-color3:hover {
	color: #096AB3;
}

.font-color4,
.font-color4:hover {
	color: #571777;
}

.pagination>.active>a {
	color: #fff
}

.pagination>li>a {
	border: 1px solid #ddd;
	border-radius: 0!important;
	margin: 0 2px;
	color: #555
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover {
	background: #0b7d5e;
	border-color: #076f53;
}

.mr-10 {
	margin-right: 10px
}

.mt-10 {
	margin-top: 10px
}

.ml-10 {
	margin-left: 10px
}

.mb-10 {
	margin-bottom: 10px
}

.mr-20 {
	margin-right: 20px
}

.margin-20 {
	margin-bottom: 20px
}
.margin-30 {
	margin-bottom: 30px
}

.alert {
	padding: 10px 15px 12px 50px;
	border-radius: 0;
	font-size: 16px;
	position: relative;
	border: 0;
}

.alert .fa {
	margin: 0 0 0 5px;
	font-size: 19px;
	display: none;
}

.alert>p,
.alert>ul {
	font-size: 18px;
}

.alert-success:before,
.alert-info:before,
.alert-warning:before,
.alert-danger:before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 12px;
	left: 15px;
	font-family: FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
	color: inherit;
}

.alert-success:before {
	content: "\f00c"
}

.alert-info:before {
	content: "\f06a";
}

.alert-warning:before {
	content: "\f071";
}

.alert-danger:before {
	content: "\f00d";
}

.alert-success {
	background-color: #f9f9f9;
	border-color: #abe7ed;
	color: #6c8b8e;
	overflow: hidden;
}

.alert-info {
	background-color: #e0ebf9;
	border-color: #e0ebf9;
	color: #327ad5;
}

.alert-warning {
	background-color: #f9f2d8;
	border-color: #f9e491;
	color: #af973a;
}

.alert-danger {
	background-color: #fbe1e3;
	border-color: #fbe1e3;
	color: #e73d4a
}

.form-control:focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 0 7px rgb(161, 147, 167);
	outline: none;
	border: 0;
}

.header-btn {
	color: #fff;
	font-size: 22px;
	padding: 4px 15px 4px;
	font-weight: 700;
	background: #ccc;
	border-radius: 0;
}

.header-btn:hover,
.header-btn:focus {
	color: #fff;
}

.media-left,
.media-right,
.media-body {
	display: table-cell;
	vertical-align: middle;
}

.form-control {
	height: 40px;
	border-radius: 1px;
	box-shadow: 0 0 0;
	border: 1px solid #ddd;
	padding: 0px 10px 4px;
	color: #333;
}

.form-vertical label  {
	margin-bottom: 10px;
	font-weight: 100;
	font-size: 16px;
	margin-top: 10px;
	color: #555;
	min-height: 23px;
	display: block;
}

.form-vertical .active {
	position: absolute;
	right: 27px;
	bottom: 15px;
	color: #0B7D5E;
}

.form-vertical .active:after {
	content: 'Active';
	font-family: "elm";
}

.form-vertical .active:before {
	margin-right: 10px
}

.form-vertical .activate-btn {
	line-height: 26px;
	background: #184866;
	color: #fff;
	padding: 5px 10px;
	position: absolute;
	right: 15px;
	top: 43px;
	border-radius: 0px 2px 2px 0px;
	height: 40px;
	font-size: 17px;
}

.form-vertical .activate-btn:hover {
	background: #917C4D;
}

.form-vertical .form-control {
	margin-bottom: 5px;
	font-size: 16px;
}

.form-vertical textarea.form-control {
	padding-top: 4px;
}

.form-vertical .form-group {
	margin-bottom: 0;
}

.error-block {
	color: #cd2326;
	font-size: 14px;
	display: inline-block;
	padding: 0 0 5px
}

.Str {
	color: #F44336;
	font-size: 22px;
	display: inline-block;
	line-height: 6px;
	width: 1px;
}

.rtl {
	direction: rtl;
	text-align: right;
}

.rtl div[class*="col-"] {
	float: right
}

.custom-inputs2,
.custom-inputs1 {
	margin: 7px 0 15px;
}

.custom-inputs2 label {
	padding: 0 20px 0 0;
	font-weight: 100;
	cursor: pointer;
}

.custom-inputs2 input[type="checkbox"] {
	display: none;
}

.custom-inputs2 input[type="checkbox"]+label {
	color: inherit;
	font-size: 15px;
	display: inline-block;
	margin: 7px 0;
}

.custom-inputs2 input[type="checkbox"]+label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 0;
	background: url(../../images/checked.png) no-repeat 0 -20px;
	transition: all 0.3s ease-in-out;
}

.custom-inputs2 input[type="checkbox"]:checked+label:before {
	background: url(../../images/checked.png) no-repeat 0 0
}

.custom-inputs1 label {
	padding: 0 20px 0 0;
	font-weight: 100;
	cursor: pointer;
}

.custom-inputs1 input[type="radio"] {
	display: none;
}

.custom-inputs1 input[type="radio"]+label {
	color: inherit;
	font-size: 16px;
	display: inline-block;
	margin: 6px 0;
}

.custom-inputs1 input[type="radio"]+label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0px 5px 0 0px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
	background: url(../../images/selected.png) no-repeat 0 -20px;
	transition: all 0.3s ease-in-out;
}

.custom-inputs1 input[type="radio"]:checked+label:before {
	background: url(../../images/selected.png) no-repeat 0 0
}

.login .custom-inputs1{
	margin-top: -3px;
}

.file-upload-ex {
	border: 1px solid #cdd3de;
	overflow: hidden;
	display: block;
	padding: 0;
	font-size: 15px;
	border-radius: 0px;
	height: 39px;
	position: relative;
}

.file-upload-ex input[type=file] {
	outline: none;
	width: auto;
	position: absolute;
	top: 6px;
	left: -94px;
	font-weight: 100;
}

.file-upload-ex span {
	display: block;
	position: absolute;
	padding: 6px 20px 10px;
	background: #444444;
	color: #fafafa;
	z-index: 10;
	right: 0;
	top: 0;
	height: 100%;
	cursor: pointer;
}

.date-picker {
	background: url(../../images/date-picker.png) no-repeat 96% 12px;
}

.form-horizontal .control-label {
	text-align: left
}

.custom-column-width {
	max-width: 15%;
	text-align: center;
}

.modal .close {font-size:30px;opacity: 1;position: relative;top: -4px;}
.modal .close span {color: #184866;}
.modal label {display:initial}

h3.modal-title {
	text-transform: capitalize;
	color: #076db5;
}

.modal-content {
	border-radius: 0;
	border: 0;
	box-shadow: 0px 20px 6px -16px rgba(0, 0, 0, 0.65);
}

.modal-open .wrapper {
	-webkit-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.modal-footer .btn,
.modal-footer .btn+.btn {
	background: #184866;
	border: 0;
	color: #FFF;
	padding: 10px 15px 13px;
	margin: 0;
	border: 0!important;
	line-height: 25px;
}

.modal-footer .btn.btn-primary {
	color: #FFFFFF!important;
	box-shadow: 0 0 0 !important;
	background: #184866;
}

.modal-footer .btn:hover {
	background: #184866!important;
	color: #FFF;
}

.modal-footer {
	padding-top: 20px;
	border: none;
}

.loading-div {
	border: 5px solid #e2e4e9;
	border-top: 5px solid #0b7d5e;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
	margin: 100px auto;
}

.Page-loading {
	background: rgba(255, 255, 255, 0.99);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	animation: loadingAnimation 0.5s
}

.Page-loading:before {
	content: "";
	left: 50%;
	top: 50%;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	border: 5px solid #e2e4e9;
	border-top: 5px solid #086eb5;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

.rotate45 {
	transform: rotate(45deg)
}

.well {
	border-radius: 0;
	background: #F5F5F5;
	border: 0;
}

.well hr {
	border-color: #d5d5d5;
}

.calendars-nav,
.calendars-month td .calendars-selected {
	background-color: #548ec1;
}

.calendars {
	width: 363px!important
}


/* Structure */

.wrapper {
	width: 100%;
	position: relative;
	background: #184866;
	/* background-image: linear-gradient(to bottom, #00533C 0%, #0FB284 100%); */
}

.page-wrapper {
	padding: 0 15px;
	min-height: 568px;
}

.modal-header:before,
.wizard-tabs .nav-tabs>li.active>a .wizard-tabs-number,
.header-btn.active,
.sidebar ul li.active>a,
.sidebar ul li.active>a:hover,
.sidebar ul li.active>a:focus,
.coloriz {
	background-color: #184866;
	/* border: 1px solid #018C65; */
}
.sidebar ul li.active>a,.sidebar ul li.active>a:hover{
	background: #0B324A;
}
.w-768 .navbar-default .navbar-brand,
.lt-768 .navbar-default .navbar-brand {
	background-color: #3AB3B0
}
.login:before,
.wrapper:before {
	background-image: linear-gradient(to top, #FFFFFF 15%, #c0e2f9 100%, #FFFFFF 100%);
	/* background: #E5EEF3; */
}

.btn {
	border-radius: 1px;
	min-width: 100px;
	font-size: 18px;
	padding: 5px 20px 7px;
	line-height: 1.8;
	text-transform: capitalize;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
	background: #343d46;
	color: #fff;
	outline: none;
	border: 1px solid #343d46;
}

.btn.btn-primary,
.btn.coloriz {
	color: #fff;
	border-radius: 1px;
	min-width: 100px;
	font-size: 18px;
	background: #008C65;
	overflow: hidden;
	position: relative;
	border: 1px solid #0B7D5E;
	/* line-height: 1; */
}

.btn.btn-primary:hover:before,
.btn.coloriz:hover:before {
	/* bottom: 0; */
	transform: scale(1);
	opacity: 1;
}

.btn-sm,
.btn-group-sm>.btn {
	line-height: 1.2!important;
}

.btn-lg,
.btn-group-lg>.btn {
	line-height: 2!important;
}

.btn.btn-reverse,
.btn.btn-reverse.coloriz,
.btn.btn-reverse.btn-primary {
	background: transparent;
	border-left: 5px solid;
	color: #0b7d5e;
}

.btn.btn-reverse:before {
	display: none
}

.btn.btn-reverse:hover,
.btn.btn-reverse.coloriz:hover,
.btn.btn-reverse.btn-primary:hover,
.btn.btn-reverse:focus,
.btn.btn-reverse.coloriz:focus,
.btn.btn-reverse.btn-primary:focus {
	background: #eee;
	box-shadow: 0 0 0;
}

.btns-group {
	overflow: hidden;
	padding: 20px 0 0;
	text-align: right;
}

.btns-group.text-left {
	text-align: left
}

.modal-header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 5px;
}

.modal-header {
	padding-top: 20px;
	position: relative;
}

.table-clean>thead>tr>th {
	padding: 20px 10px;
	font-weight: 100;
	font-size: 19px;
	color: #4A4A4A;
	border: 0;
}

.table-clean>thead>tr {
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd !important;
}

.table-clean.table-hover>tbody>tr:hover {
	background-color: #fafafa;
}

.table-clean>tbody>tr>td {
	padding: 20px 10px;
	font-weight: 100;
	font-size: 17px;
	color: #555;
	border: 0;
}

.table-clean>tbody>tr {
	border-bottom: 1px solid #eee
}

table tr td .offline,
table tr td .online {
	font-size: 14px
}

.panel-body {
	padding: 20px;
}

.panel-default>.panel-heading {
	font-size: 23px;
	color: #555;
	border-bottom: 0;
}

.panel.panel-default {
	border-radius: 0;
}

.panel.panel-default .panel-heading .panel-title {
	color: #7f2fa7;
	font-size: 20px;
}

.panel.panel-default .panel-body .form-vertical label {
	margin-top: 3px
}


/* Animations */

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loadingAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes loadingAnimation2 {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}
	25% {
		opacity: 1;
		transform: translateX(100px);
	}
	50% {
		opacity: 1;
		transform: translateX(215px);
	}
	75% {
		opacity: 1;
		transform: translateX(100px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-50px);
		-ms-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-50px);
		-ms-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-50px);
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-50px);
		-ms-transform: translateX(-50px);
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes fadeInLeftLight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInLeftLight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.animate {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1.0s;
	animation-duration: 1.0s;
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

.fadeInLeftLight {
	-webkit-animation-name: fadeInLeftLight;
	animation-name: fadeInLeftLight;
}

.delay1 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.delay2 {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s
}

.delay3 {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s
}

.delay4 {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s
}

.delay5 {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s
}

.delay6 {
	-webkit-animation-delay: 1.8s;
	animation-delay: 1.8s
}

.mk-animation {
	opacity: 0
}

.mk-animation.animate {
	opacity: 1
}

.tab-content .tab-pane {
	-webkit-animation-name: fadeInLeftLight;
	animation-name: fadeInLeftLight;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
}
.tab-content .excel-download {background: #319F31;color: #fff;padding: 5px 10px;position: relative;top: 10px;}
.tab-content .excel-download:hover {background-color: #218621;}
.tab-content .excel-download i {margin-right:10px}


/* End Animations */


/* Header and Nav */

.navbar-top-links {
	margin-right: 20px;
}

.navbar-top-links>li {
	display: block;
	float: right;
}


/*.navbar-top-links li:last-child { margin-right: 15px;}*/

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}

.navbar-top-links .dropdown-menu {
	margin-left: auto;
	right: 0;
	left: auto;
	padding: 0;
	border: 1px solid rgba(207, 207, 207, 0.27);
	margin: 3px 0 0;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	min-width: 180px;
	z-index: 1000001;
}

.navbar-top-links .dropdown-menu li {
	display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}

.navbar-top-links .dropdown-menu li.last-item {
	border-top: 1px solid #ddd;
}

.navbar-top-links .dropdown-menu li a {
	padding: 8px 10px;
	min-height: 0;
	white-space: normal;
	font-size: 15px;
	color: #656565;
}

.navbar-top-links .dropdown-menu li h3 {
	text-align: center;
	margin: 0;
	padding: 10px 0 12px;
	font-size: 19px;
	background: #f3f3f3;
	text-transform: uppercase;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	background: rgba(199, 199, 199, 0.1);
}

.navbar-top-links .dropdown-menu .badge {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 7px 0 0;
	text-align: center;
	font-size: 13px;
	margin: 0 5px 0 0;
	background: #6FB2EC;
}

.navbar-top-links .dropdown-menu .badge.badge-red {
	background: #DF4343;
}

.navbar-top-links .dropdown-menu .badge.badge-green {
	background: #25C453;
}

.navbar-top-links .dropdown-menu .badge.badge-blue {
	background: #336798;
}

.navbar-top-links .dropdown-menu .badge.badge-orange {
	background: #E78F29;
}

.navbar-top-links .language a {
	font-size: 18px;
	padding: 26px 20px;
	line-height: 27px;
}

.navbar-top-links .language a img {
	margin: 0 10px;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}

.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
	margin-left: -155px;
}

.navbar-top-links .notifications-numb {
	background: #0DA67B;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: 19px;
	right: 8px;
	text-align: center;
	padding: 1px;
	line-height: 15px;
	font-size: 12px;
	border-radius: 100%;
	color: #fff;
}

.sidebar .sidebar-nav.navbar-collapse {
	padding: 0 0 40px;
}

.sidebar .sidebar-search {
	padding: 15px;
}

.sidebar ul li.active>a {
	color: #D8C284;
}

.sidebar .arrow {
	float: right;
}

.sidebar .fa.arrow:before {
	content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
	content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
	border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
	padding-left: 44px;
	background: #0B324A;
	border-bottom: 1px solid #184866;
	font-size: 15px;
}

.sidebar .nav-second-level li a:hover,
.sidebar .nav-second-level li a:focus {
	color: #EEC56F;
}

.sidebar .nav-third-level li a {
	padding-left: 52px;
}

.sidebar .nav-head {
	font-size: 19px;
	background: #077D5C;
	padding: 10px 12px;
	color: #E2C89B;
	margin: 0;
	line-height: 25px;
	padding-bottom: 15px;
	text-transform: uppercase;
}

.header-title {
	margin: 20px 0 0;
}

.header-title a,
.header-title a:hover,
.header-title a:focus {
	color: #0B324A;
	font-size: 0.65em;
	display: block;
	white-space: nowrap;
}

.navbar-default {
	background: transparent;
	border: 0;
	min-height: 75px;
}

.nav-second-level {
	display: none;
	transition: all .3s ease-in-out
}

.has-menu.open+.nav-second-level {
	display: block;
	padding: 0;
	margin: 0;
}

.has-menu.open .fa.arrow:before {
	content: "\f107";
}

.page-wrapper-inner {
	background: #fff;
	min-height: 200px;
	padding: 10px 30px 20px 30px;
	border: 1px solid #A3D3F1;
}

.wrapper:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	content: "";
	height: 170px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	display: block;
	border: 0;
	padding: 26px 20px 23px;
	background: transparent;
}

.navbar-default .navbar-toggle {
	margin: 0 0 0 275px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #0B324A;
	height: 3px;
	width: 25px;
	margin: 5px 0;
}

.sidenav,
.page-wrapper,
.navbar-default .navbar-toggle {
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out
}

.sidenav {
	z-index: 1;
	position: absolute;
	width: 275px;
	left: 0;
	background: #184866;
}

.login select.form-control {
	display: inline-block;
	/* width: 32.7%; */
}
.small-select select {width: 32.7%;}

.custom-thumbnail1 {
	min-height: 210px;
	max-height: 210px;
}

.existed-card .custom-thumbnail1 .fa {
	color: #0B7D5E;
	font-size: 60px;
	margin: 30px auto 10px auto;
}

.new-card .custom-thumbnail1 * {
	color: #787878;
}

.new-card .custom-thumbnail1 .fa {
	font-size: 60px;
	margin: 50px auto 0 auto;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active,
.custom-thumbnail1:hover * {
	border-color: #0B7D5E;
	color: #0B7D5E;
}


/*-----------------------------------------------  ** Version: 1.0 English  ** Author: ELM Design Team - Mostafa Kasem  ** Last update : 10 May 2017   -----------------------------------------------*/


/* general */

.page-wrapper {
	position: inherit;
	margin: 0 0 0 275px;
	padding: 0;
}

.navbar-default .navbar-brand {
	height: auto;
	color: #fff;
	text-align: center;
	padding: 10px;
	width: 100%;
	float: none;
	/* background: #FFFFFF; */
	background-image: linear-gradient(to top, #FFFFFF 15%, #c0e2f9 100%, #FFFFFF 100%);
}

.navbar-default .navbar-brand:hover {
	/* background: #FFFFFF; */
}

.navbar-default .navbar-brand a {
	display: block;
	padding: 5px 10px;
	height: 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.navbar-default .navbar-brand:hover a {
	transform: translateY(-5px);
}

.sidebar {
	margin-top: 0;
}

.sidebar ul li a {
	color: #EFEADF;
	font-size: 16px;
	text-transform: capitalize;
	position: relative;
	padding: 11px 15px 12px 45px;
	line-height: 1.3;
}
.sidebar .nav>li>a:hover  {background: #0B324A;}

.sidebar ul li a.has-menu {
	padding: 11px 23px 12px 45px;
}

.sidebar ul li a.has-menu:hover,
.sidebar ul li a.has-menu:focus,
.sidebar ul li a.has-menu:active {
	background: #0B324A;
}

.sidebar ul li a .fa,
.sidebar ul li a .lineicon,
.sidebar ul li a img {
	font-size: 17px;
	position: absolute;
	left: 12px;
	top: 12px;
}

.sidebar ul li:first-child a .lineicon {
	font-weight: 700
}

.sidebar ul li a img {
	width: 20px
}

.sidebar ul li a .fa.arrow {
	left: auto;
	right: 15px;
	font-size: 15px;
}

.navbar-top-links>li>a {
	color: #314449;
	margin: 0;
	border: 0;
	background: transparent;
	border-radius: 0;
	padding: 24px 15px;
	font-size: 21px;
}

.navbar-top-links>li>a:hover,
.navbar-top-links>li>a:focus,
.navbar-top-links .open>a,
.navbar-top-links .open>a:hover,
.navbar-top-links .open>a:focus {
	background: rgba(112, 146, 168, 0.2);
}

.user-name {
	padding: 0 10px;
}

.job-title {
	display: block;
	color: #314449;
	font-size: 13px;
	text-decoration: none;
}

.navbar-top-links li>a.user-dropdown-toggle {
	padding: 16px 15px 17px;
	overflow: hidden;
}

.navbar-top-links li>a.user-dropdown-toggle .fa {
	margin: 8px 0 0
}

.user-icon img {
	border-radius: 100%;
	width: 45px;
	height: 45px;
	background: #fff;
}

.user-name .name {
	font-size: 16px;
	display: block;
	color: #314449;
}

.user-name .job-title {
	font-size: 13px;
}

.hide-sidenav .page-wrapper {
	margin: 0;
	padding: 0 30px;
}

.hide-sidenav .sidenav {
	left: -275px;
}

.hide-sidenav .navbar-default .navbar-toggle {
	margin: 0 0 0 30px
}


/*.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color:inherit;background-color: #712ea7;}*/

.nav-section {
	color: #D8C292;
	border-bottom: 1px solid #0B324A;
	font-size: 18px;
	padding: 6px 16px 8px;
}

.page-header {
	padding: 0 0 20px;
	border: 0;
	margin: 0;
	overflow: hidden;
}

.page-header h1 {
	color: #184866;
	font-size: 31px;
	padding: 10px 0 0;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.page-footer {
	padding: 10px;
	padding-left: 305px;
	background: #184866;
	color: #EFEAEA;
}

.hide-sidenav .page-footer {
	padding-left: 30px
}

.top-title {
	display: none;
	margin: 20px 0 0;
	font-size: 3em;
}

.navbar-top-links .dropdown-menu a .fa {
	margin: 0 5px
}

.user-profile {
	/* FF3.6-15 */
	/* Chrome10-25,Safari5.1-6 */
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/* IE6-9 */
	padding: 15px 10px 15px 10px;
	margin-top: -1px;
	color: #fff;
	text-align: left;
	overflow: hidden;
}

.user-profile img {
	border-radius: 100%;
	border: 2px solid #F7F7F7;
	padding: 3px;
	width: 64px;
	height: 64px;
	float: left;
}

.user-profile .name {
	font-size: 18px;
	margin: 0;
	font-family: elmBold;
	margin-bottom: 5px;
}

.user-profile .title {
	display: block;
	line-height: 10px;
}

.user-profile ul {
	margin-top: 15px;
}

.user-profile ul li {
	display: inline-block
}

.user-profile ul li a {
	color: #fff;
	padding: 0;
	font-size: 20px;
}

.user-profile .user-photo {
	width: 25%;
}

.user-profile .user-text {
	width: 70%;
	font-size: 14px;
	position: relative;
	top: -7px;
}


/* End Header and Nav */


/*Login styles*/

.login {
	position: relative;
	/* background: url(../../images/login/login-bg.jpg) no-repeat center top #e8f0f3; background-size: cover;*/
	background: #fff;
}

.login:before {
    background-image: linear-gradient(to top, #E4EFF5 15%, #c0e2f9 100%, #FFFFFF 100%);
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.login:after {z-index: -1; content: "";position: fixed;width: 100%;height: 100%;bottom: 0;background: transparent url('../../images/login-bg.png') no-repeat -375px 101%;opacity: 0.2;}

.login-header {
	margin: 100px 0 50px;
	text-align: center;
}

.login-header img {
	width: 150px;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1.0s;
	animation-duration: 1.0s;
}

.login-box-form .form-control {
	height: 50px;
	border-radius: 0;
	font-size: 17px;
	color: #555;
	border-color: #e1e1e1;
	box-shadow: 0 0 0;
}

.login-box-form .control-label {
	padding-bottom: 10px;
	margin: 0;
	color: #65737e;
	font-size: 17px;
	font-weight: 100
}

.login-box-form .form-control:focus {
	border: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px rgb(161, 147, 167);
}

.login-box-form h3 {color: #A69164}

.login-box-btns {
	overflow: hidden;
	margin: 20px 0 0;
}

.login-box-inner {
	max-width: 450px;
	margin: 50px auto 20px;
	background: #fff;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.custom-login-box {max-width: 45%}

.login-box-inner .alert p , .modal .alert p {font-size: 16px}
.login-box-inner a.resend , .modal a.resend {color: #B8903A;/* float: right; *//* border: 1px solid #6C8B8E; *//* padding: 2px 5px; *//* line-height: 22px; */text-decoration: underline;}


.login-footer {
	text-align: center;
	color: #a7adba;
	font-size: 16px;
	margin: 0 0 20px;
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1.0s;
	animation-duration: 1.0s;
}

.login-box-btns .btn.coloriz {
	padding: 4px 45px;
	border-radius: 1px;
}

.login-box-btns .btn-link {
	font-size: 16px;
	color: #086eb5;
	padding-left: 0;
	padding-right: 0;
}

.login-box-btns .second-btn {background: white;color: #343d46;border-color: #9C9C9C;padding: 8px 25px;}


/* End Login styles*/

.side-actions-type1 {
	display: inline-block;
	margin: 0 10px;
}

.side-actions-type1 .action-icon {
	display: inline-block;
	color: #fff;
	width: 55px;
	height: 55px;
	padding: 8px 0 0;
	border-radius: 50%;
	font-size: 25px;
	margin: 0 0 2px;
	transition: all 0.5s ease-in-out
}

.side-actions-type1:hover .action-icon {
	transform: translateY(2px)
}

.side-actions-type1:hover .action-icon.rotate45 {
	transform: translateY(2px) rotate(45deg)
}

.side-actions-type1 .action-title {
	display: block;
	text-transform: capitalize;
}

.side-actions-type1:hover .action-title {
	text-decoration: underline
}


/* registered users */

.reg-user-block-top .media-body {
	vertical-align: middle;
}

.reg-user-block {
	border: 1px solid #ddd;
	padding: 15px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease-out;
	box-sizing: content-box;
}

.reg-user-block:hover {
	box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.23);
}

.reg-user-block .media-heading {
	color: #076db5;
	line-height: 1.3em;
}

.reg-user-block-top {
	margin: 0 0 10px;
	border-bottom: 1px solid #ddd;
	padding: 0 0 15px;
}

.reg-user-block-top .media-object img {
	width: 100%;
}

.reg-user-block-top .media-object {
	width: 80px;
	height: 80px;
	padding: 5px;
	background: #F5F5F5;
	display: inline-block;
	overflow: hidden;
}

.reg-user-block-bottom ul li {
	line-height: 1.8em;
	font-size: 16px;
	color: #777;
}

.reg-user-block-actions {
	background: rgba(7, 109, 181, 0.83);
	overflow: hidden;
	padding: 27px 0;
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	bottom: -120%;
	transition: all 0.5s ease-out;
}

.reg-user-block:hover .reg-user-block-actions {
	bottom: 0
}

.reg-user-block-actions a {
	color: #fff;
	font-size: 14px;
	width: 33.33333%;
	display: block;
	text-align: center;
	padding: 0 3px;
	float: left;
}

.reg-user-block-actions a:hover .action-title {
	text-decoration: underline
}

.reg-user-block-actions a .block.action-icon {
	font-size: 27px;
	padding: 0;
}

.wallet img,
.Organization img {
	width: 60px
}

.sort-header .form-control {
	height: 40px;
	border-radius: 0;
	font-size: 16px;
	/* background: transparent; */
	/* border: 1px solid #ddd; */
	box-shadow: 0 0 0;
	/* overflow: hidden; */
	padding: 0;
}

.search-header .form-control {
	height: 40px;
	border-radius: 0;
	font-size: 16px;
	border: 1px solid #ddd;
	box-shadow: 0 0 0;
}

.sort-header select {
	width: 100%;
	margin: 0px 0 0;
	border: 0;
	font-size: 17px;
	padding: 3px 6px;
	color: #777;
	height: 100%;
}

.sort-header label {
	font-weight: 100;
	color: #999;
}

.search-header,
.sort-header {
	max-width: 30%;
	margin-top: 10px;
}

.sort-header {
	background: #fafafa;
}

.header-btn.boxs-btn {
	border-left: 1px solid #b587cf;
}

.user-card {
	margin: 0 0 20px
}

.user-card .media-object {
	width: 120px;
	height: 120px;
	padding: 5px;
	background: #F5F5F5;
	display: inline-block;
	overflow: hidden;
}

.user-card .media-object img {
	width: 100%
}

.user-card .media-heading {
	color: #076db5;
	line-height: 1.3em;
	font-size: 23px;
}

.user-card .media-body {
	vertical-align: middle;
}

.user-data {
	font-size: 16px;
}

.display-group {
	margin: 0 0 20px;
}

.box-style1 {
	border: 1px solid #ddd;
	padding: 0px;
	margin: 0 0 30px;
	color: #585858;
	border-radius: 1px;
	overflow: hidden;
	transition: all 0.3s;
}

.box-style1:hover {
	box-shadow: 0px 20px 6px -16px rgba(0, 0, 0, 0.18);
}

.box-style1 .media {
	transition: all 0.3s
}

.box-style1:hover .media {
	transform: translateY(-5px);
}

.box-style1 .media-heading .number {
	font-size: 19px;
	padding: 0;
	color: #BDBDBD;
}

.box-style1 .media-heading .title {
	font-size: 23px;
	/* text-transform: uppercase; */
	color: #616161;
	margin-bottom: 10px;
}

.box-style2 .media-heading {
	margin: 0 0 0 5px;
}

.box-style1 .progress {
	height: 5px;
	border-radius: 0;
	margin: 0 0 3px;
}

.box-style1 .media-left .media-object {
	font-size: 60px;
	padding: 0;
	text-align: left;
	width: 70px;
	height: 70px;
	display: block;
	display: flex;
	color: #616161;
	align-items: center;
	justify-content: center;
}

.box-style1 .media-left .media-object img,
.box-style1 .media-left .media-object .lineicon {
	display: block;
}

.box-style1 .media {
	min-height: 80px;
	padding: 20px 15px;
}

.box-style1 .bottom-paragraph {
	margin: 0;
	color: #5078B6;
	font-size: 16px;
	display: block;
	background: #F5F5F5;
	padding: 8px 15px;
	background: url(../../images/pattern.png);
	border-top: 1px solid #dcdcdc;
}

.box-style1 ul {
	background: red
}

.box-style1 ul li {
	display: inline-block
}

.box-style2 {
	padding: 13px 40px 17px 20px;
	cursor: pointer;
	border: 1px solid;
	margin: 0 0 50px;
	border-radius: 1px;
	display: block;
	border-left-width: 5px;
	transition: all 0.5s ease-in-out;
	position: relative;
	overflow: hidden;
}

.box-style2 .icon {
	font-size: 45px;
	display: inline-block;
	padding: 0px 14px 0 0;
}

.box-style2 .icon img {
	width: 50px;
	transition: all 0.5s ease-in-out
}


/*.box-style2:hover .icon img{ transform:rotate(-5deg)}*/

.box-style2 .title {
	font-size: 20px;
	text-transform: capitalize;
	line-height: 23px;
}

.box-style2 .title,
.box-style2 .icon {
	display: table-cell;
	vertical-align: middle;
}

.box-style2:hover {
	background: #fafafa
}

.box-style2:before,
.box-style2:after {
	position: absolute;
	font-style: normal;
	content: "\f105";
	transition: all 0.5s ease-in-out;
	top: -1px;
	display: inline-block;
	font: normal normal normal 75px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	z-index: -1;
}

.box-style2:before {
	right: 10px;
}

.box-style2:after {
	right: 12px;
	color: #fff;
}

.box-style2:hover:after,
.box-style2:hover:before {
	transform: translateX(50px);
	/* right: -50px; */
}

.box-style3 {
	border: 1px solid #ddd;
	padding: 15px;
	margin: 0 0 0px;
	color: #585858;
	border-radius: 1px;
}

.box-style3 h3 {
	font-size: 25px;
	color: #547BB8;
}

.action-icon-view {
	color: #4CAF50;
}

.action-icon-edit {
	color: #578ebe;
}

.action-icon-appoint {
	color: #d9534f;
}

.action-icon .lineicon {
	font-size: 20px;
	margin: 0 5px;
	font-weight: 500;
	line-height: 1;
	text-shadow: 0px 1px 0px;
}

.last-requests .table-clean>thead>tr {
	border: none
}

.last-requests .table-clean>thead>tr>th {
	padding: 10px;
}

.table .label {
	font-size: 90%;
	text-transform: capitalize;
	font-weight: 100;
}


/* tooltip style */

.tooltip-inner {
	padding: 2px 7px 4px;
	text-transform: capitalize;
	font: 13px 'elm', serif;
	background: #1f7b7b
}

.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
	border-top-color: #1f7b7b
}

.tooltip.right .tooltip-arrow {
	border-right-color: #1f7b7b
}

.tooltip.left .tooltip-arrow {
	border-left-color: #1f7b7b
}

.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
	border-bottom-color: #1f7b7b
}


/* general tabs styles */

.tab-pane {
	padding: 20px 0;
}

.tab-pane .tab-pane {
	padding: 10px 0;
}
.tab-pane .upload-div {width: 320px;}

.wizard-tabs .nav-tabs>li>a,
.wizard-tabs .nav-tabs>li>a:hover,
.wizard-tabs .nav-tabs>li>a:focus {
	padding: 0;
	background: transparent;
	color: #858585;
	border: 0;
}

.wizard-tabs .nav-tabs>li.active>a,
.wizard-tabs .nav-tabs>li.active>a:hover,
.wizard-tabs .nav-tabs>li.active>a:focus {
	background: transparent;
	color: #502da7;
	border: 0;
	border-radius: 0;
}

.wizard-tabs .nav-tabs {
	background: #F3F3F3;
	border: 0;
}

.wizard-tabs .nav-tabs>li>a .wizard-tabs-number {
	padding: 5px 0 10px;
	display: block;
	font-size: 25px;
	background: #e6e6e6;
	width: 50px;
	text-align: center;
	transition: all 0.3s ease;
	position: relative;
	text-indent: 90px;
	overflow: hidden;
	float: left;
	border-radius: 0;
}

.wizard-tabs .nav-tabs>li>a .wizard-tabs-title {
	padding: 10px 40px 11px 20px;
	display: block;
	font-size: 20px;
	text-transform: capitalize;
	transition: all 0.3s ease;
	float: left;
	color: #75b48f;
}

.wizard-tabs .nav-tabs>li.active>a .wizard-tabs-number {
	color: #FFFFFF;
}

.wizard-tabs .nav-tabs>li>a .wizard-tabs-number:before {
	content: "\f00c";
	display: inline-block;
	font: 10px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	font-size: inherit;
	position: absolute;
	top: 13px;
	left: 12px;
	color: #ffffff;
	transition: all 0.5s ease-in-out;
	text-indent: 0;
	opacity: 1;
}

.wizard-tabs .nav-tabs>li.active>a .wizard-tabs-number:before {
	left: -50px
}

.wizard-tabs .nav-tabs>li.active~li a .wizard-tabs-number:before {
	left: -50px
}

.wizard-tabs .nav-tabs>li>a .wizard-tabs-number {
	background: #018C65;
}

.wizard-tabs .nav-tabs>li.active~li a .wizard-tabs-number {
	background: #e6e6e6
}

.wizard-tabs .nav-tabs>li.active>a .wizard-tabs-number {
	text-indent: 0
}

.wizard-tabs .nav-tabs>li.active~li a .wizard-tabs-number {
	text-indent: 0
}

.wizard-tabs .nav-tabs>li.active>a .wizard-tabs-title {
	color: #184866;
}

.wizard-tabs .nav-tabs>li.active~li a .wizard-tabs-title {
	color: #999;
}

.mk-tabs-1>.nav-tabs {
	border: 0;
	background: #008c65;
	overflow: hidden;
}

.mk-tabs-1>.nav-tabs>li>a,
.mk-tabs-1>.nav-tabs>li>a:hover,
.mk-tabs-1>.nav-tabs>li>a:focus {
	font-size: 19px;
	color: #fff;
	padding: 15px 5px 18px;
	border: 0;
	background: transparent;
	text-transform: capitalize;
	/* min-height: 65px; */
	border-radius: 0;
}

.mk-tabs-1>.nav-tabs>li.active>a,
.mk-tabs-1>.nav-tabs>li.active>a:hover,
.mk-tabs-1>.nav-tabs>li.active>a:focus {
	color: #F6E294;
	/* transform: scale(1.3); */
	border: 0;
	background: rgba(0, 0, 0, 0.18);
	z-index: 1;
}

.mk-tabs-2>.nav-tabs {
	border: 0;
	background: #F3F3F3;
	padding: 0 0 0 2px;
}

.mk-tabs-2>.nav-tabs>li>a,
.mk-tabs-2>.nav-tabs>li>a:hover,
.mk-tabs-2>.nav-tabs>li>a:focus {
	font-size: 19px;
	color: #999;
	padding: 10px 25px 13px;
	background: transparent;
	text-transform: capitalize;
	border-radius: 0;
	border: 0;
	border-top: 3px solid #F3F3F3;
	margin: 0 5px 0 0;
}

.mk-tabs-2>.nav-tabs>li.active>a,
.mk-tabs-2>.nav-tabs>li.active>a:hover,
.mk-tabs-2>.nav-tabs>li.active>a:focus {
	color: #0b7d5e;
	background: #fff;
	border-color: #0b7d5e;
}

.announcements ul li {
	font-size: 12px
}

.announcements ul li a {
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	display: block;
	padding: 15px 5px 15px 5px;
	color: #656565;
}

.announcements ul li a:hover {
	background: #F5F5F5;
}

.announcements ul li a span {
	font-size: 13px;
	display: block;
	color: #547BB8;
}

.announcements ul li:last-child a {
	border: none
}


/* End general tabs styles */

.side-actions-type2 {
	display: block;
	border: 1px solid #ddd;
	margin: 10px 10px 0 0;
}

.side-actions-type2 .action-icon {
	display: table-cell;
	color: #fff;
	width: 40px;
	height: 35px;
	padding: 2px 0 0;
	margin: 0 0 2px;
	transition: all 0.5s ease-in-out;
	text-align: center;
}

.side-actions-type2 .action-icon .lineicon {
	font-size: 21px;
	margin: 0;
}

.side-actions-type2:hover {
	transform: translateX(2px)
}

.side-actions-type2 .action-title {
	display: table-cell;
	text-transform: capitalize;
	padding: 4px 15px 6px;
	font-size: 19px;
	color: #086eb5;
}

.simple-list a {
	display: block;
	overflow: hidden;
	border: 1px solid #ddd;
	font-size: 16px;
	color: #555;
	padding: 20px;
	margin: 0 0 5px;
}

.simple-list a:hover {
	background: #fafafa;
}

.modal-dialog {
	margin-top: 100px
}

.User-details-box {
	border: 1px solid #dfdfdf;
	margin: 0 0 20px;
	padding: 15px 20px;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease;
	/* background: url(../../images/pattern.png); */
	/* background-attachment: fixed; */
	background-color: #F8F8F8;
}

.User-details-box:before {
	/* content: ""; */
	/* position: absolute; */
	/* left: 0; */
	/* top: 0; */
	/* width: 100%; */
	/* height: 100%; */
	/* background: rgba(255, 255, 255, 0.70); */
}

.PD-user-card .media-object {
	width: 90px;
	height: 90px;
	padding: 0;
	background: #F5F5F5;
	display: block;
	overflow: hidden;
	transition: all 0.5s ease;
	margin: 0 10px 0 0;
	box-shadow: 1px 3px 6px 1px #ccc;
}

.PD-user-card .media-object img {
	width: 100%;
	background: #fff;
}

.PD-user-card .media-heading {
	color: #333;
	line-height: 1.3em;
	font-size: 18px;
	transition: all 0.3s ease;
	float: left;
}

.PD-user-card .media-heading span {
	font-size: 2rem;
	line-height: 35px;
	color: #777;
}

.PD-user-card .media-body {
	vertical-align: middle;
}

.PD-user-card .media-body .media-heading:first-child {
	margin-right: 40px
}


/*Hospital*/

.hospital-card .media-object {
	padding: 0;
	display: block;
	overflow: hidden;
	transition: all 0.5s ease;
	margin: 0 10px 0 0;
}

.hospital-card .media-object img {
	width: 100%;
	background: #fff;
}

.hospital-card .media-heading {
	color: #333;
	line-height: 1.3em;
	font-size: 18px;
	transition: all 0.3s ease;
	float: left;
}

.hospital-card .media-heading span {
	font-size: 18px;
	line-height: 30px;
	color: #777;
}

.hospital-card .media-body {
	vertical-align: middle;
}

.hospital-card .media-body .media-heading:first-child {
	margin-right: 40px;
}
.hospital-card .fa-building,.hospital-card .fa-plus {font-size:40px;color: #184866;}
.hospital-card a {font-size:15px;color: #184866;margin-bottom:10px;}
.hospital-card .media-heading span:first-child{font-size: 20px;color: #184866;}
.hospital-card .block{margin-bottom:0px;}
.hospital-card .media-heading .fa{margin-right: 5px;}
.hospital-card .media-left img.logo {width: 96px;}
.hospital-card .action {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-left: 0;
}
.hospital-card .action ul {
    height: 100%;
    width: 300px;
}
.hospital-card .action ul li {
    display: inline-block;
    text-align: center;
    width: 49.3%;
    height: 100%;
}
.hospital-card .action ul li a{
    font-size: 17px;
    margin: 0 20px;
    display: block;
    margin-top: 35px;
}
.hospital-card .action ul li a:hover{}

.hospital-card .action ul li a i {display:block;line-height: 30px;font-size: 30px;}

.PD-toggle {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	font-size: 50px;
	color: #a2a0a0;
	width: 70px;
	height: 100%;
	text-align: center;
	line-height: 0;
	/* background: #000; */
	padding: 10px;
	z-index: 100;
}

.PD-toggle:hover {
	background: #fafafa;
	color: #555;
}

.media.PD-user-card {
	margin: 0;
	z-index: 2;
}

.PD-toggle .fa-angle-down:before {
	transition: all 0.5s ease-in-out
}

.open .PD-toggle .fa-angle-down:before {
	content: "\f106";
}

.PD-user-data .in-block {
	min-width: 162px;
	display: inline-block;
	line-height: 1.6;
	font-size: 14px;
}

.PD-user-data {
	padding: 5px 0 0;
	border-top: 1px solid #ddd;
	margin: 7px 0 0;
}

.slick {
	display: none;
	opacity: 0;
}

.User-details-box.open .slick {
	display: block;
	opacity: 1;
}

.User-details-box.open .PD-user-card .media-object {
	width: 100px;
	height: 100px;
}

.PD-cat h4 {
	color: #7f2fa7;
	font-weight: 500;
	font-size: 17px;
	padding: 0;
	margin: 3px 0 10px;
	font-family: 'elmBold', serif;
}

.PD-cat p {
	font-size: 15px;
	margin: 0;
	line-height: 1.6;
}

.PD-cat {
	font-size: 16px;
}

.three-inputs input {
	width: 33.3333%;
	float: left;
	border-left: 0;
}

.three-inputs input:first-child {
	border-left: 1px solid #ccc
}

.Recurrence-Pattern .well {
	padding: 20px;
}

.Recurrence-Pattern .custom-inputs2,
.Recurrence-Pattern .custom-inputs1 {
	margin: 0;
}


/* special handle */

.lt-768 .sidenav {
	width: 100%
}

.lt-768 .hide-sidenav .sidenav {
	left: -110%
}

.ie .sidenav,
.ie .page-wrapper,
.ie .navbar-default .navbar-toggle {
	transition: none;
}

.ie .animate,
.ie .delay1,
.ie .delay2,
.ie .delay3,
.ie .delay4,
.ie .delay5,
.ie .delay6 {
	-webkit-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s
}

@media screen and (min-width:0) and (max-width:1199px) {
	.sort-header select {
		width: 100%
	}
	.top-title {
		display: block;
		/* width: 30%; */
		overflow: hidden;
	}
}

@media screen and (min-width:0) and (max-width:990px) {
	.btn {
		margin-bottom: 10px
	}
	.modal-dialog {
		margin-top: 20px
	}
	.navbar-top-links {
		margin-right: 0px;
	}
	.navbar-top-links .dropdown-messages,
	.navbar-top-links .dropdown-tasks,
	.navbar-top-links .dropdown-alerts {
		width: 280px;
		left: 0;
		right: 0;
	}
	.hide-sidenav .page-wrapper {
		margin: 0;
		padding: 0;
	}
	.hide-sidenav .sidenav {
		left: -275px;
	}
	.navbar-default .navbar-toggle {
		margin: 0 0 0 0px!important;
	}
	.sidenav {
		background: #184866;
		top: 76px;
		z-index: 1000000;
	}
	.page-wrapper {
		padding: 0;
		margin: 0
	}
	.page-wrapper-inner {
		border-radius: 0;
		padding: 15px
	}
	.page-footer {
		padding-left: 10px;
	}
	.search-header,
	.sort-header {
		max-width: 49%;
	}
	.search-header {
		clear: left
	}
	.box-style1,
	.box-style3 {
		margin-bottom: 30px
	}
	.mk-tabs-1>.nav-tabs>li>a,
	.mk-tabs-1>.nav-tabs>li>a:hover,
	.mk-tabs-1>.nav-tabs>li>a:focus {
		font-size: 17px;
		padding: 18px 5px 17px;
	}
	.action-icon .lineicon {
		font-size: 20px;
		margin: 0 2px;
	}
	.PD-cat {
		margin: 20px 0 0;
	}
	.delay1,
	.delay2,
	.delay3,
	.delay4,
	.delay5,
	.delay6 {
		-webkit-animation-delay: 0.3s;
		animation-delay: 0.3s
	}
	.slick .animate {
		-webkit-animation-name: fadeInUp;
		animation-name: fadeInUp;
	}
}

@media screen and (min-width:0) and (max-width:767px) {
	.login-box-inner {
		margin-top: 20px
	}
	.user-data {
		font-size: 14px;
	}
	.login-header {
		margin: 50px 0;
	}
	.login-box-inner {
		max-width: 90%;
		padding: 30px 15px;
		margin: 0px auto 20px;
		box-shadow: 0 0 0;
	}
	.login {
		background-size: inherit
	}
	.search-header,
	.sort-header {
		max-width: 100%;
		margin: 10px 0 0;
		width: 100%;
	}
	.search-header {
		clear: left
	}
	.page-header .side-actions {
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 1000;
		/* width: 100%; */
		/* background: #552da7; */
		/* float: none!important; */
		/* right: 0; */
		/* text-align: center; */
		padding: 15px 0;
		opacity: 0.8;
	}
	.page-header .side-actions .action-title {
		display: none
	}
	.box-style2 .title {
		font-size: 1.2em;
	}
	.box-style2 .icon {
		font-size: 40px;
	}
	.page-header {
		padding-bottom: 10px;
		position: relative;
	}
	.page-header h1 {
		padding-top: 10px;
	}
	.h1,
	h1 {
		font-size: 30px;
	}
	.h2,
	h2 {
		font-size: 25px;
	}
	.reg-user-block .media-left,
	.reg-user-block .media-body,
	.user-card .media-left,
	.user-card .media-body {
		display: block;
		text-align: center;
		margin: 10px 0;
	}
	.reg-user-block-actions {
		position: relative;
		padding: 0 0 5px;
		margin: 10px -15px -15px;
		background: #7a2fa7;
		left: auto;
		right: auto;
		top: auto;
		bottom: auto;
	}
	.reg-user-block-actions a .action-title {
		display: none
	}
	.rtl div[class*="col-"] {
		float: none;
	}
	.wizard-tabs .nav-tabs>li {
		margin: 0;
		width: 100%;
		border-bottom: 1px solid #e2e2e2;
	}
	.wizard-tabs .nav-tabs>li>a {
		float: none;
		display: block;
		margin: 0;
		width: 100%;
		overflow: hidden;
		border-radius: 0;
	}
	.mk-tabs-1>.nav-tabs>li,
	.mk-tabs-2>.nav-tabs>li {
		float: left;
		width: 50%;
		display: block;
		margin: 0;
	}
	.mk-tabs-1>.nav-tabs>li.active>a,
	.mk-tabs-1>.nav-tabs>li.active>a:hover,
	.mk-tabs-1>.nav-tabs>li.active>a:focus {
		color: #F6E294;
		transform: scale(1.0);
		font-weight: 700;
	}
	.mk-tabs-2>.nav-tabs>li>a,
	.mk-tabs-2>.nav-tabs>li.active>a,
	.mk-tabs-2>.nav-tabs>li.active>a:hover,
	.mk-tabs-2>.nav-tabs>li.active>a:focus {
		padding: 10px 25px 13px;
		margin: 5px 0 0
	}
	.btn.coloriz {
		margin-bottom: 10px
	}
	.btn-block-sm {
		width: 100%;
	}
	.form-vertical label {
		min-height: 5px;
	}
	.simple-list a {
		padding: 10px
	}
	.simple-list-data,
	.simple-list-title {
		float: none!important;
		padding: 5px 0;
		text-align: center
	}
	.box-style2 .icon img {
		width: 30px;
	}
	.box-style2 {
		margin-bottom: 20px
	}
	.box-style2:before,
	.box-style2:after {
		top: -10px
	}
	.User-details-box.open .media-left,
	.User-details-box.open .media-body {
		display: block;
		text-align: center;
		margin: 5px 0;
	}
	.PD-toggle {
		bottom: 0;
		top: auto;
		width: 100%;
		height: 50px;
		padding: 0;
		background: #fafafa;
	}
	.PD-cat,
	.PD-user-data {
		text-align: center;
	}
	.side-actions-type1 .action-icon .lineicon {
		font-size: 25px;
	}
	.form-vertical .activate-btn {
		top: 33px;
	}
	.hospital-card .action {position:relative;width: 100%;margin-top: 20px;}
	.hospital-card .action ul {width: 100%;border-top: 1px solid #ddd;}
	.hospital-card .action ul li a {margin-top: 10px;}
}

@media screen and (min-width:0) and (max-width:460px) {

	.small-select select {width:100%;margin-bottom:5px}

}

