
<div class="container" dir="ltr">
  <div class="row">
    <div class="col-md-4">
      <a [routerLink]="['/']">
        <img src="./assets/images/logo.png" style="height: 125px; width: 208px" />
      </a>
      <label class="img-fluid">تأهيل سمعي ونطقي</label>
    </div>

  </div>
  
</div>


  <nav class="container navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style=" font-size: 1.5em; font-weight: bold">
        <li >
          <a [routerLink]="['/hearing']"> Information </a>
        </li>

        <li >
          <a [routerLink]="['/hearing']">  اتصل بنا</a>
        </li>
        
        <li><a class="" [routerLink]="['/home']">الصفحة الرئيسية</a></li>
        <!-- <li>
          <a href="#">Link</a>
        </li> -->
      </ul>

      <ul class="nav navbar-nav" style=" font-size: 1.5em; font-weight: normal">
        <li>
          <div *ngIf="!currentUser"  >
            <a [routerLink]="['/login']">تسجيل الدخول</a> |
            <a [routerLink]="['/register']">إنشاء الدخول</a>
          </div>
          <div *ngIf="currentUser" >
            <a [routerLink]="['/login']">تسجيل الخروج</a> -- <i class="glyphicon glyphicon-user"></i> أهلا بك: {{currentUser.firstName}} {{currentUser.lastName}}
          </div>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
      <img src="./assets/images/header-banner.png" style="height: 150px; width:100%">
    </div>
  </div>