<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Design/arabic/css">
    <include path="~/Design/arabic/css/bootstrap.css" />
    <include path="~/Design/arabic/css/bootstrap-theme.css" />
    <include path="~/Design/arabic/css/site.css" />
  </styleBundle>
</bundles>