<div class="row">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
<h1>اتصل بنا</h1>
<p>للإسفسار يرجى التواصل مع الجهات الآتية:</p>
</div>
<div class="col-12">
<div class="persone">
<p class="personName">د. نسيم النعمان
   </p>
   <p>أستاذ مساعد جامعي</p>
   <p>هاتف: 0096264294406</p>
   <p>فاكس: 0096264294406</p>
   <p>بريد الالكتروني :</p>
   <p>مبنى ام, مكتب 318</p>
   <p>الجامعة الالمانية الاردنية</p>
   <p>كلية العلوم الطبية التطبيقية</p>
   <p>صندوق بريد رقم: 35247, عمان 11180, الاردن</p>
</div>
</div>
<h3>
الطلاب المسؤولون عن البرنامج:
</h3>
<div class="row">
<div class="persone col-md-6">

<p class="personName" id="">رزان صالحاني</p>
<p>البريد الإلكتروني : <a href="mailto:Razan.salhany@gmail.com">Razan.salhany@gmail.com</a> </p>
</div>
<div class="persone col-md-6">

<p class="personName" id="">حنين الدحيات</p>
<p>البريد الإلكتروني : <a href="mailto:haneenaldehayat@yahoo.co.uk">haneenaldehayat@yahoo.co.uk</a>
</p>
</div>
</div>
<h3>
        الجهات المتعاون معها:
</h3>
<div class="persone">
<p class="personName">مؤسسة الملكة علياء للسمع والنطق</p>
<p>دير غبار - شارع جبير بن مطعم</p>
<p>ص.ب 2778, عمان</p>
<p>11181</p>
<p>الاردن</p>
<p>البريد الإلكترونى:
<a href="mailto:info@queenaliafoundation.jo">info@queenaliafoundation.jo</a>
</p>
<p>الهاتف: 5819141 6 00962</p>
<p>رقم الفاكس: 5823141 6 00962</p>
</div>


</div>
</div>
</div>