<div class="page-header">
  <h1>التدريب السمعي
  </h1>
</div>

<div class="jumbotron">

  <p>شرح قصير عن التدريب السمعي</p>


</div>

<div class="row">
  <div *ngFor="let module of modules" class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <img src="../assets/_support_files/Interface/1_Hearing.jpg" alt="...">
      <div class="caption">
        <a [routerLink]="module.id">
          <h3>{{module.title}}</h3>
        </a>
        <p>{{module.descreption}}</p>
        <!-- <p>
          <a href="#" class="btn btn-primary" role="button">Button</a>
          <a href="#" class="btn btn-default" role="button">Button</a>
        </p> -->
      </div>
    </div>
  </div>
</div>