<h1>&nbsp;</h1>
<br>
<div class="row"> 
    <div class="col-sm-4 col-sm-offset-1">
        <a href="" [routerLink]="'/hearing'">
            <img class="mainIcons" src="../assets/_support_files/Interface/1_Speaking.png" alt="">
            <span class="btn btn-success btn-razan">نطق</span>
        </a>

    </div>
   
    <div class="col-sm-4 col-sm-offset-2">
        <a href="" [routerLink]="'/hearing'">
            <img class="mainIcons" src="../assets/_support_files/Interface/1_Hearing.png" alt="">
            <span class="btn btn btn-primary btn-lg btn-razan">سمع</span>
        </a>

    </div>
</div>

<br>