<h1>{{sound?.name}}</h1>
<div class="container" style="margin-bottom:10px;">
    <div class="row">
        <div class="col-sm-4">
            <audio id="passage-audio" class="passage" controls #soundCtr>
                <source src="./assets/_support_files/MP3/{{sound?.name}}.mp3" type="audio/mp3">
                <em class="error">
                    <strong>Error:</strong> Your browser doesn't appear to support HTML5 Audio.</em>
            </audio>
        </div>
    </div>
    <div class="row" style="position: relative;">
        <a class="playAgainBtn" href="#" (click)="playAgain($event)"><img src="./assets/_support_files/Interface/1_Pic_speaker.jpg" alt="play again"></a>
        <div class="col-sm-12" style="">
            <p-galleria [images]="ctrImages" [autoPlay]="false" [showFilmstrip]="false" [showCaption]="false"
             panelWidth="313" panelHeight="313"
             [showCaption]="false"></p-galleria>
        </div>
    </div>
</div>