.resaultImg {
    transform-origin: center center;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 400px;
    height: 400px;
    z-index: 999999;
    animation: show 3000ms both;
}

@keyframes show {
    form { transform:translate(-50%,-50%)  scale(0);}
    5% { transform:  translate(-50%,-50%) scale(1.2);}
    7%,99% { transform:translate(-50%,-50%)  scale(1);}
    100% {  transform:translate(-50%,-50%)  scale(0);}
}

#resaultContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.img_Con {
    border: 3px solid #FFD79C;
    padding: 10px;
    text-align: center;
}

.imageBoarder {
    border:3px solid #1b6331;
}

.imgSelected .imgIsCorrect {
    border:3px solid #1b6331;
    transform: scale(1.2);
}

.imgSelected .imgIsNotCorrect {
    border:3px solid #ff0000;
    transform: scale(0.8);
    opacity: .3;
}

.six-ling-test-container {
    text-align: center;
}
.six-ling-test-container img {
    display: block;
    margin: auto;
    width: auto !important;
}