button{
    width: 150px;
    height: 50px;
    font-size: 2rem;
    position: relative;
    margin-top: 150px;
}
button:before{
    content: '';
    display: block;
    position: absolute;
    width: 150px; 
    height: 150px;
    top: -150px;
    left: 0;
    background-image: url("/assets/_support_files/Interface/1_Pic_Forward.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
button.prevBtn{
    float: left;
}
button.prevBtn:before{
    /* background-image: url("/assets/_support_files/Interface/1_Pic_Backward.jpg"); */
    transform-origin: center center;
    transform: rotate(180deg);
}