<div class="row">
    <div class="col-sm-4">
        <a href="" [routerLink]="[redirectUrl]">
            <img class="mainIcons" src="../assets/_support_files/Interface/1_Speaking.png" alt="">
            <span class="btn btn-success btn-razan">نطق</span>
        </a>

    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <a href="" [routerLink]="[redirectUrl]">
            <img class="mainIcons" src="../assets/_support_files/Interface/1_Hearing.png" alt="">
            <span class="btn btn btn-primary btn-lg btn-razan">سمع</span>
        </a>

    </div>
</div>